<div class="modal-header get-failure">

<button class="pull-right close" type="button"  data-dismiss="modal" aria-label="Close">
  <span>&times;</span>
</button>
<h1>Sorry, we could not find this particular behavior chart</h1>
<img src="https://i.imgur.com/kJJqSnz.jpg"/>
</div>
